body {
  font-family: Arial, sans-serif;
  background-color: #f4f7f9;
  margin: 0;
  padding: 0;
  color: #333;
  overflow-x: hidden;
}

header {
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRaH13fzspVLhgyOfypbxoDFbWGYD9ueP97GQ&s') no-repeat center center/cover;
  color: white;
  padding: 50px 20px;
  text-align: center;
}

h1 {
  font-size: 2.5em;
}

.auth-buttons {
  position: absolute;
  top: 20px;
  right: 20px;
}

.auth-buttons a {
  text-decoration: none;
  padding: 10px 20px;
  color: white;
  background-color: #007bff;
  border-radius: 5px;
}

.auth-buttons a:hover {
  background-color: #0056b3;
}

nav {
  text-align: center;
  margin: 20px 0;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #007bff;
}

nav a:hover {
  color: #0056b3;
}

.content {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

footer {
  background-color: #333;
  color: #ddd;
  text-align: center;
  padding: 5px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}
